@media (max-width: 640px) {

     .logo {
        width: 180px;
    }

    .content {
        top: 63%;
        left: 5%;
        right: 3%
    }

    .btn {
        position: absolute;
        top: 10%;
        right: 1%;
        z-index: -999;
    }

    .box-skills i{
        width: 60px;
        height: 60px;
        font-size: 22px;
    }

    .contact p {
        font-size: 18px;
    }

    footer p:nth-child(1){
        font-size: 18px;
    }

    footer p:nth-child(2){
        font-size: 14px;
    }

    .aviso-cookies {
        max-width: 256px;
     }

    .aviso-cookies 
    .titulo, 
    .aviso-cookies 
    .parrafo {
        font-size: 18px;
    }

    .parrafo-cookie {
        font-size: 13px;
    }
}